body {
	margin: 0px;
	
	background-color: #F6F6F6;
	text-align: center;
	font-family: 'PT Serif', serif;
}

::selection {
	background-color: #DDDDDD;
}

p {
	margin: 1em 0px;
	line-height: 1.4em;
}

h1 {
	margin: 0px;
	
	font-size: 3em;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	margin: 0px 0px .5em 0px;
	
	font-size: 2em;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
}

h3 {
	margin: 0px;
	
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
}

a:link {
	color: #333333;
}

a:visited {
	color: #333333;
}

a:hover {
	color: #888888;
}

ul {
	margin: 0 0 1em 0;
}

.flat_page {
	padding: 12px;
	margin: 4px;
	
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 4px;
	
	color: #666666;
}

.flat_panel {
	padding: 12px;
	
	display: inline-block;
	
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 4px;
	
	color: #666666;
}

.flat_button {
	padding: 4px 8px;
	margin: 2px 0px;
	
	display: inline-block;
	
	background-color: #ffffff;
	box-shadow: 0px 0px 0px #888888;
	border-radius: 4px;
	
	color: #333333;
	font-size: .8em;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: pointer;
}

.flat_button:link {
	color: #333333;
}

.flat_button:visited {
	color: #333333;
}

.flat_button:hover {
	color: #333333;
	box-shadow: 1px 1px 2px #888888;
}

.flat_button:active {
	color: #888888;
	box-shadow: 1px 1px 2px #888888;
}

.buttons {
	display: inline-block;
	float: right;
	width: 50%;
	
	text-align: right;
}

.buttons_end {
	text-align: right;
}

#info_page {
	padding: 0px;
	margin: 0px;
	
	display: inline-block;
}

#main_page {
	padding: 0px;
	margin: 0px;
	
	display: inline-block;
	
	text-align: center;
}

#header {
	text-align: center;
}

#content {	
	text-align: left;
}

#nav {
	font-family: 'PT Sans', sans-serif;
	text-align: left;
}

#nav ul {
	margin: 0px;
	
	list-style-type: none;
}

#nav a {
	text-decoration: none;
}

#logo {
	width: 200px;
	height: 200px;
	
	text-align: left;
}