body {
	margin: 0px;
	
	background-color: #F6F6F6;
	text-align: center;
	font-size: 16pt;
	font-family: 'PT Serif', serif;
}

p {
	margin: 1em 0px;
	line-height: 1.4em;
}

h1 {
	margin: 0px;
	
	font-size: 3em;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	margin: 0px 0px .5em 0px;
	
	font-size: 2em;
	font-family: 'PT Sans', sans-serif;
}

.flat_panel {
	padding: 12px;
	margin: 4px;
	
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 4px;
	
	color: #666666;
}

.flat_button {
	padding: 4px 8px;
	margin: 4px;
	
	display: inline-block;
	float: right;
	
	background-color: #666666;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 4px;
	
	color: #AAAAAA;
	font-size: .8em;
	font-family: 'PT Sans', sans-serif;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:default;
}

.flat_button:hover {
	color: #CCCCCC;
	box-shadow: 1px 1px 1px #888888;
}

.flat_button:active {
	box-shadow: 0px 0px 0px #888888;
}

#center_page {
	padding: 0px;
	margin: 0px;
	
	display: inline-block;
	width: 55%;
	
	text-align: center;
}

#header {
	text-align: center;
}

#content {
	text-align: left;
}