html, body {
	padding: 0;
	border: 0;
	margin: 0;
	
	background-color: #333344;
	font-size: 12pt;
	font-family: "Lusitana", serif;
	text-align: center;
	text-rendering: optimizeLegibility;
}

h1 {
	padding: 0;
	border: 0;
	margin: .6em 0;
	
	color: #550000;
	font-size: 2em;
	font-variant: small-caps;
	font-weight: bold;
}

h2 {
	padding: 0;
	border: 0;
	margin: .6em 0;
	
	border-bottom: 2px solid #ccaa66;
	color: #550000;
	font-size: 1.4em;
	font-variant: small-caps;
	font-weight: bold;
}

p {
	padding: 0;
	border: 0;
	margin: .6em 0;
}

ul {
	padding: 0 .6em;
	border: 0;
	margin: .6em 0;
	
	list-style-type: none;
}

a, a:visited {
	color: #550000;
}

input {
	padding: 0;
	border: 0;
	margin: .6em 0;
	
	width: 100%;
	display: block;
	
	background: none;
	border-bottom: 1px solid #000000;
	font-family: "Lusitana", serif;
	font-size: 1em;
}

textarea {
	padding: 0;
	border: 1px solid #000000;
	margin: .6em 0;
	
	width: 100%;
	display: block;
	overflow: hidden;
	
	background: none;
	font-family: "Lusitana", serif;
	font-size: 1em;
	resize: none;
}

label {
	padding: 0;
	border: 0;
	margin: .6em 0;
	
	width: 100%;
	display: block;
	
	color: #776633;
	font-size: .8em;
}

label input {
	margin: 0;
	
	font-size: 1.25em;
}

label textarea {
	margin: 0;
	
	font-size: 1.25em;
}

input.inline {
	width: 2em;
	display: inline;
	
	text-align: center;
}

.sheet {
	padding: 0;
	border: 0;
	margin: 0 0 18px 0;
	
	display: block;
	overflow: hidden;
	
	background-image: url("images/background.jpg");
	box-shadow: 1px 4px 14px #000000;
	text-align: left;
}

.section {
	padding: 0 .6em;
	border: 0;
	margin: 0 0 6px 0;
	
	display: block;
	overflow: hidden;
}

.nospace {
	margin: 0;
}

.box {
	border: 2px solid #ccaa66;;
}

.vertical-twothird {
	padding: 0;
	border: 0;
	margin: 0;
	
	height: 100%;
	width: 66.66%;
	width: calc(100% / 3 * 2);
	float: left;
	display: inline-block;
	overflow: hidden;
}

.vertical-half {
	padding: 0;
	border: 0;
	margin: 0;
	
	height: 100%;
	width: 50%;
	float: left;
	display: inline-block;
	overflow: hidden;
}

.vertical-third {
	padding: 0;
	border: 0;
	margin: 0;
	
	height: 100%;
	width: 33.33%;
	width: calc(100% / 3);
	float: left;
	display: inline-block;
	overflow: hidden;
}

.vertical-quarter {
	padding: 0;
	border: 0;
	margin: 0;
	
	height: 100%;
	width: 25%;
	float: left;
	display: inline-block;
	overflow: hidden;
}

.centered {
	text-align: center;
}

.horizontal-rule {
	border-bottom: 2px solid #ccaa66;
}

.spaced {
	margin: .6em 0 0 0;
}

#content {
	padding: 0;
	border: 0;
	margin: 0;
	
	display: inline-block;
	width: 1024px;
	
	text-align: center;
}
